{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Cliente list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nomecompleto</th>
                <th>Cpf</th>
                <th>Sexo</th>
                <th>Datadenascimento</th>
                <th>Telefone</th>
                <th>Email</th>
                <th>Senha</th>
                <th>Recebeofertas</th>
                <th>Endereco</th>
                <th>Numero</th>
                <th>Cep</th>
                <th>Bairro</th>
                <th>Cidade</th>
                <th>Estado</th>
                <th>Pais</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('cliente_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nomeCompleto }}</td>
                <td>{{ entity.cpf }}</td>
                <td>{{ entity.sexo }}</td>
                <td>{% if entity.dataDeNascimento %}{{ entity.dataDeNascimento|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.telefone }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.senha }}</td>
                <td>{{ entity.recebeOfertas }}</td>
                <td>{{ entity.endereco }}</td>
                <td>{{ entity.numero }}</td>
                <td>{{ entity.cep }}</td>
                <td>{{ entity.bairro }}</td>
                <td>{{ entity.cidade }}</td>
                <td>{{ entity.estado }}</td>
                <td>{{ entity.pais }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('cliente_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('cliente_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('cliente_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
